<div class="minion-selector unselectable" ng-show="minionSelectionAvailable">
    <div ng-repeat="minion in minions" data-title="{{minion.name}}" class="minion-icon-wrap {{minion.id}}" ng-click="selectMinion(minion.id)">
        <img width="48" height="48" style="background: url('/img/minion-icons/{{minion.id}}.png'); background-size: 100% auto;" class="rounded float-left minion-icon">
        <div class="selected-overlay" ng-show="selectedMinion.id == minion.id">
            <i class="fa fa-plus fa-3x" ng-hide="chosenMinions[minion.id]"></i> 
        </div>
        <div class="chosen-overlay" ng-show="chosenMinions[minion.id]"></div>
    </div>
</div>

