<div ng-show="minionId">
  <h3>{{name}}</h3>
  <div class="row">
    <div class="col-md-6">
      <table class="table">
        <tr>
          <td>Cost</td>
          <td>{{cost}}</td>
        </tr>
        <tr>
          <td>Souls</td>
          <td>{{souls}}</td>
        </tr>
        <tr>
          <td>Income</td>
          <td>{{income}}</td>
        </tr>
        <tr>
          <td>Health</td>
          <td>{{health}}</td>
        </tr>
      </table>
    </div>
    <div class="col-md-6">
      <table class="table">
        <tr>
          <td>Speed</td>
          <td>{{speed}}</td>
        </tr>
        <tr>
          <td>Move Type</td>
          <td>{{moveType}}</td>
        </tr>
        <tr>
          <td>Kill Value</td>
          <td>{{value}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>