.DS_Store
.TemporaryItems
._.DS_Store
._*
/*.sublime-project
/*.sublime-workspace
/logs/HeapSnapshots/*.heapsnapshot
/public/js/jquery.js
/node_modules
/node_modules/.bin
/logs/**/*.log
v8.log
/newrelic_agent.log
/logs/dev-log.log
/build/static/
/logs/profiling
/.idea
/build
/package.manifest
/package.zip
/assets/**/._*.png
