<div id="gameSummaryWrapper" class="container" ng-init="viewLoaded()">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>{{gameEndResult}}</h1>
            <p>End game stats coming soon!</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <a href="#" class="btn btn-primary btn-lg" ng-click="goHome()">Home</a>
            <a href="#" class="btn btn-primary btn-lg" ng-click="goCreateNewGame()">Play Again</a>
        </div>
    </div>
</div>