<div class="home" ng-init="viewLoaded()">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <a href="#/game/create" class="btn btn-success btn-lg btn-block" role="button">Play Game</a>
                <!--<a href="#/lobby/create" class="menu-button">Matchmaking</a>-->
                <!--<a href="#/game/tutorial" class="btn btn-primary btn-lg btn-block" role="button">Tutorial</a>-->
                <a href="#/game/sandbox" class="btn btn-warning btn-lg btn-block" role="button">Sandbox</a>
                <!--<a href="#/leaderboard" class="menu-button">Leaderboard</a>-->
                <!--<a href="#/game/ia" class="menu-button">Instant Action</a>-->
                <!--<a href="#/user/profile" class="menu-button">Profile</a>-->
            </div>
        </div>
    </div>
</div>

